// LiveCall Drops File | Raptor v0.0.2

$LC-D1: #2b9081; // Main
$LC-D2: #ffffff; // Text Info
$LC-D3: #ffffff; // Text Button
$LC-D4: #f16767; // Button Interaction
$LC-D5: #3a3452; // Shadow LiveCall
$LC-D6: #1b655a; // Shadow Button
$LC-D7: #8c3333; // Shadow Button Text
